@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");

:root {
  --background-color: #4d7c0f;
  --font-color: #334155;
  --font-color1: #e5e7eb;
  --footer-width: 600px;
}

body {
  font-family: "charm", cursive;
  margin: 0;
  color: var(--font-color);
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  padding: 1rem;
  text-align: center;
  background-color: var(--background-color);
  font-size: 2rem;
  color: var(--font-color1);
}

main {
  width: 60%;
  margin: auto;
}

textarea {
  display: block;
  width: 100%;
  height: 15vh;
  padding: 0.5rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  resize: none;
  font-family: inherit;
  color: inherit;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  outline: none;
}

button {
  background-color: var(--background-color);
  border: none;
  margin: 1rem 30%;
  width: 40%;
  min-width: 200px;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--font-color1);
  font-family: inherit;
}

#heading {
  font-size: 1.4rem;
}

#output-txt {
  width: 100%;
  height: 15vh;
  overflow: scroll;
  border: 1px solid var(--font-color);
  padding: 0.5rem;
  /* margin-top: 1rem; */
  font-size: 1.5rem;
}

#output-txt::-webkit-scrollbar {
  display: none;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0.5rem;
  background-color: var(--background-color);
  text-align: center;
  font-size: 1.4rem;
  color: var(--font-color1);
  max-height: 16vw;
}

footer p {
  max-width: var(--footer-width);
  margin: auto;
  font-size: 1.2;
  margin-bottom: 0.5rem;
}

.footer {
  background-color: var(--primary-color);
  padding: 0.7rem;
  text-align: center;
  color: white;
}

.footer-header {
  font-weight: bold;
  color: black;
}

.footer-copyright {
  margin: 0.5rem 0;
}

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-list-style li {
  font-weight: 100;
  font-size: 1.2rem;
  display: inline-block;
}

.link {
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 1rem;
}
